 * {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 	outline: 0 !important;
 }

 /* (reset) */


 .main_conteiner {
	background: linear-gradient(180deg, #D4E2F4 0%, #DDE9FD 21.88%, #EDEBF8 100%);
 	background-size: contain;
 	margin: 0 auto;
 	padding: 0;
 	max-width: 1920px;
 	height: 100%;
 }

 .conteiner {
 	background-image: url(../img/backgorund_header_end.png),url(../img/backgorund_header.jpg);
 	background-size: contain,100%;
 	background-position: bottom,center;
 	background-repeat: no-repeat;
 	min-height: 870px;
 	width: 100%;
 }
 .header {
	 display: flex;
	 justify-content: center;
 }

 .header_1 {
	 display: flex;
	 justify-content: center;
  width: 100%;
 	min-height: 55px;
 	position: fixed;
 	z-index: 2;
	background-color: #EDEBF8;
  border-radius: 0 0 10px 10px ;
  padding: 10px 0;
  box-shadow: 5px 0 20px rgba(0,0,0,0.4);
 }


 .nav_header {
	min-width: 1170px;
 	display: flex;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: space-around;
 }

 #logo {
 	max-width: 122px;
 	max-height: 55px;
 }

 .contact_list {
 	display: flex;
 	margin-right: 111px;
 	margin-left: 79px;
 }

 .contact_ul {
 	display: flex;
 	flex-wrap: wrap;
 	color: #1F2125;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 18px;

 }

 .contact_item {
 	margin-right: 25px;
 	list-style-type: none;
 	color: #1F2125;
 }

 .contact_item_link {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 18px;
 	line-height: 25px;
 	letter-spacing: 0.01em;
 	text-decoration: none;
 }

 .box_tel {
 	display: flex;
 	flex-direction: row;
 }

 .tel_button {
 	border: none;
 	border-radius: 50%;
 	background: linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
 	text-align: center;
 	text-decoration: none;
 	width: 32px;
 	height: 32px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	margin-right: 10px;
 }

 .tel_img {
 	width: 18px;
 	height: 18px;
 	margin-top: 4px;

 }

 .tel_number>a {
 	text-decoration: none;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 21px;
 	line-height: 29px;
 }

 a {
 	color: #1F2125;
 	font-size: 18px;
 }

 .heading {
 	padding-top: 177px;
 	text-align: center;
 }

 .heading>h1 {
 	font-family: Vollkorn;
 	font-style: normal;
 	font-weight: 600;
 	font-size: 74px;
 	line-height: 103px;
 	text-align: center;
 	letter-spacing: 0.03em;
 	color: #4D476F;
 }

 .heading>h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 21px;
 	line-height: 29px;
 	text-align: center;
 	letter-spacing: 0.01em;
 	color: #4D476F;
 }

 .button_online {
 	margin: 40px;
 	width: 370px;
 	height: 60px;
 	background: linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
  border: 2px solid #7063D2;
  box-sizing: border-box;
  box-shadow: 20px 10px 30px #CEDAEB;
  border-radius: 40px;
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 21px;
 	line-height: 29px;
 	letter-spacing: 0.08em;
 	color: #FFFFFF;
 	cursor: pointer;
 }

 .button_online--push {
	background: linear-gradient(92.21deg, #7E57F2 13.23%, #6645E1 82.09%) !important;
	box-shadow: 0px 0px 8px rgba(87, 152, 251, 0.9), 0px 0px 15px #BDCCE3 !important;
	border-radius: 40px !important;
	font-family: Open Sans;
  font-style: normal;
  font-weight: bold !important;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
 }

 .button_online:hover,
 .button_online:focus {
	background: linear-gradient(92.21deg, #8A64F9 13.23%, #8A64F9 13.24%, #7652F4 82.09%);
	border: 2px solid #7263E6;
	box-shadow: 0px 0px 8px rgba(87, 152, 251, 0.9), 20px 10px 30px #CEDAEB;
 }


 .about_us {
 	width: 100%;
 	min-height: 500px;
 	display: flex;
 	flex-direction: column;
 	background-color: #ffffff;
 	background-repeat: no-repeat;
 	background-image: url(../img/tetka.png);
 	background-size: 600px 600px;
 	background-position-x: 70%;
 	background-position-y: 40%;

 }

 .about_us_h2 {
 	max-width: 400px;
 	margin-left: 477px;
 	margin-top: 42px;
 	max-height: 405px;
 }

 .about_us_h2>h2 {
 	font-family: Vollkorn;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 58px;
 	line-height: 81px;
 	display: flex;
 	align-items: center;
 	color: #4D476F;
 }

 .about_us_h2>p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 160%;
 	color: #000000;
 }

 .about_us_h2>h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 26px;
 	line-height: 130%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .about_us_end_h3 {
 	max-width: 370px;
 	max-height: 60px;
 	text-align: right;
 	margin-left: 775px;
 	margin-top: 140px;
 }

 .about_us_end_h3>h3 {
 	font-family: Open Sans;
 	font-style: italic;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 150%;
 	text-align: right;
 	letter-spacing: 0.01em;
 	color: #1F1F1F;
 }

 .header_price {
 	width: 100%;
 	min-height: 208px;
 	display: flex;
 	justify-content: center;
 	align-items: flex-end;
 	background-image: url(../img/about_us_end.png);
 	background-position: bottom;
 }

 .header_price h2 {
 	font-family: Vollkorn;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 58px;
 	line-height: 100%;
 	color: #4D476F;
 }

 .box_main_computer {
 	display: flex;
 	flex-direction: column;
 	width: 100%;
 	background: url(../img/end_clouds_for_computer5.png);
	background-size: contain;
 	background-position: bottom;
 	background-repeat: no-repeat;
 }

 .box_computer1 {
 	min-width: 670px;
 	min-height: 185px;
 	margin-top: 17px;
 	margin-left: 375px;
 	display: flex;
 	justify-content: start;
 	background: url(../img/cup.png), url(../img/circle.png), url(../img/clouds_img.png), url(../img/clouds_img@2x.png);
 	background-repeat: no-repeat;
 	background-size: 170px 167px, 137px 135px, 265px 155px, 265px 155px;
 	background-position: 95px -5px, 103px 0px, left bottom, left bottom;
 }

 .computer1_text {
 	max-width: 372px;
 	max-height: 77px;
 	margin-left: 300px;
 	margin-top: 10px;
 }

 .computer1_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 26px;
 	line-height: 140%;
 	letter-spacing: 0.01em;
 }

 .computer1_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 160%;
 }

 .box_computer2 {
 	min-width: 670px;
 	min-height: 185px;
 	display: flex;
 	justify-content: end;
 	margin-right: 375px;
 	background: url(../img/10.png), url(../img/circle.png), url(../img/clouds10.png);
 	background-size: 170px 167px, 137px 135px, 235px 161px;
 	background-position: top right 84px, top 8px right 100px, bottom right;
 	background-repeat: no-repeat;
 }

 .computer2_text {
 	max-width: 372px;
 	max-height: 77px;
 	text-align: right;
 	margin-right: 300px;
 	margin-top: 10px;

 }

 .computer2_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 26px;
 	line-height: 140%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .computer2_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 160%;
 	color: #000000;
 }

 .box_computer3 {
 	min-width: 670px;
 	min-height: 185px;
 	display: flex;
 	justify-content: start;
 	background: url(../img/instruments.png), url(../img/circle.png), url(../img/clouds_for_instruments.png);
 	background-size: 170px 167px, 138px 135px, 295px 185px;
 	background-position: top left 100px, top left 101px, left;
 	background-repeat: no-repeat;
 	margin-left: 375px;
 }

 .computer3_text {
 	max-width: 372px;
 	max-height: 77px;
 	text-align: left;
 	margin-left: 300px;
 	margin-top: 28px;
 }

 .computer3_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 26px;
 	line-height: 140%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .computer3_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 160%;
 	color: #000000;
 }

 .box_computer4 {
 	min-width: 670px;
 	min-height: 185px;
 	display: flex;
 	justify-content: flex-end;
 	margin-right: 375px;
 	background: url(../img/coffee.png), url(../img/circle.png), url(../img/clouds_for_coffe.png), url(../img/clouds2x_for_coffe.png);
 	background-repeat: no-repeat;
 	background-size: 170px 167px, 138px 135px, 265px 183px, 265px 183px;
 	background-position: bottom right 84px, bottom right 100px, right, right;
 }

 .computer4_text {
 	max-width: 372px;
 	max-height: 77px;
 	text-align: right;
 	margin-right: 300px;
 	margin-top: 40px;
 }

 .computer4_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 26px;
 	line-height: 140%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .computer4_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 160%;
 	text-align: right;
 	color: #000000;
 }

 .box_computer5 {
 	min-width: 670px;
 	min-height: 185px;
 	margin-left: 375px;
 	display: flex;
 	justify-content: flex-start;
 	background: url(../img/cirtificate.png), url(../img/circle.png), url(../img/clouds_for_cirtificate.png);
 	background-repeat: no-repeat;
 	background-position: left 100px top, left 90px top, left;
 }

 .computer5_text {
 	min-width: 372px;
 	min-height: 103px;
 	text-align: left;
 	margin-left: 300px;
 	margin-top: 10px;
 }

 .computer5_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 26px;
 	line-height: 140%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .computer5_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 16px;
 	line-height: 160%;
 	color: #000000;
 }

 .computer_footer {
 	width: 100%;
 	min-height: 160px;
 	text-align: center;
 }

 .computer_footer h2 {
 	font-family: Vollkorn;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 58px;
 	line-height: 100%;
 	color: #4D476F;
 	margin-top: 100px;
 }

 .box_for_prices {
 	width: 100%;
 	display: flex;
 	background-color: #FFFFFF;
 	background-image: url(../img/nailfile.png), url(../img/scissors.png);
 	background-position: left 138px top 260px, right 140px top 692px;
 	background-size: 153px 162px, 168px 170px;
 	background-repeat: no-repeat;
 }


 .services_1 {
 	width: 50%;
 	margin-left: 375px;
 }

 .usual_manicure {
 	min-width: 470px;
 	min-height: 265px;
 	margin-top: 124px;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .usual_manicure_item {
 	display: flex;
 	justify-content: flex-end;
 	width: 470px;
 	height: 180px;
 	box-shadow: 0px 0px 10px #D4E2F4;
 	border-radius: 10px;
 	background: url(../img/nails_1.png), url(../img/usual_background.png), linear-gradient(101.8deg, #EFEDFD 19.11%, #E3DFFF 105.55%);
 	background-repeat: no-repeat;
 	background-position: left 13px top 18px, center;
 	background-size: 143px 143px, auto;
 }

 .usual_manicure_text {
 	max-width: 270px;
 	max-height: 80px;
 	text-align: center;
 	margin-top: 47px;
 	padding-right: 40px;
 }

 .usual_manicure_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 24px;
 	line-height: 150%;
 	letter-spacing: 0.02em;
 	color: #000000;
 }

 .usual_manicure_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 26px;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .usual_manicure_button {
 	margin-top: 25px;
 	width: 270px;
 	height: 60px;
 }


 .shellac_manicure {
 	min-width: 470px;
 	min-height: 265px;
 	margin-top: 45px;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .shellac_manicure_item {
 	display: flex;
 	justify-content: flex-end;
 	width: 470px;
 	height: 180px;
 	box-shadow: 0px 0px 10px #D4E2F4;
 	border-radius: 10px;
 	background-image: url(../img/nails_3.png), url(../img/usual_background.png), linear-gradient(101.51deg, #EFEDFD 9.26%, #E3DFFF 96.67%);
 	background-repeat: no-repeat;
 	background-position: left 13px top 18px, center;
 	background-size: 143px 143px, auto;
 }

 .shellac_manicure_text {
 	max-width: 270px;
 	max-height: 80px;
 	margin-top: 47px;
 	text-align: center;
 	padding-right: 40px;
 }

 .shellac_manicure_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 24px;
 	line-height: 150%;
 	letter-spacing: 0.02em;
 	color: #000000;
 }

 .shellac_manicure_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 26px;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .shellac_manicure_button {
 	width: 270px;
 	height: 60px;
 	margin-top: 25px;
 }


 .uf_manicure {
 	min-width: 470px;
 	min-height: 265px;
 	margin-top: 45px;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .uf_manicure_item {
 	display: flex;
 	justify-content: flex-end;
 	width: 470px;
 	height: 180px;
 	box-shadow: 0px 0px 10px #D4E2F4;
 	border-radius: 10px;
 	background-image: url(../img/nails_5.png), url(../img/usual_background.png), linear-gradient(104.26deg, #EFEDFD 13.76%, #E3DFFF 100.64%);
 	background-repeat: no-repeat;
 	background-position: left 13px top 18px, center;
 	background-size: 143px 143px, auto;
 }

 .uf_manicure_text {
 	max-width: 270px;
 	max-height: 80px;
 	margin-top: 47px;
 	text-align: center;
 	padding-right: 40px;
 }

 .uf_manicure_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 24px;
 	line-height: 150%;
 	letter-spacing: 0.02em;
 	color: #000000;
 }

 .uf_manicure_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 26px;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .uf_manicure_button {
 	width: 270px;
 	height: 60px;
 	margin-top: 25px;
 }


 .services_2 {
 	width: 50%;
 	margin-right: 372px;
 	margin-left: 230px;
 }

 .usual_pedicure {
 	min-width: 470px;
 	min-height: 265px;
 	margin-top: 208px;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .usual_pedicure_item {
 	display: flex;
 	justify-content: flex-start;
 	width: 470px;
 	height: 180px;
 	box-shadow: 0px 0px 10px #D4E2F4;
 	border-radius: 10px;
 	background-image: url(../img/nails_2.png), url(../img/usual_background_pedicure.png), linear-gradient(108.85deg, #EFEDFD 5.15%, #E3DFFF 84.98%);
 	;
 	background-repeat: no-repeat;
 	background-position: right 13px top 18px, center;
 	background-size: 143px 143px, auto;
 }

 .usual_pedicure_text {
 	width: 270px;
 	height: 80px;
 	padding-left: 40px;
 	text-align: center;
 	margin-top: 47px;
 }

 .usual_pedicure_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 24px;
 	line-height: 150%;
 	letter-spacing: 0.02em;
 	color: #000000;
 }

 .usual_pedicure_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 26px;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .usual_pedicure_button {
 	width: 270px;
 	height: 60px;
 	margin-top: 25px;
 }


 .shellac_pedicure {
 	min-width: 470px;
 	min-height: 265px;
 	margin-top: 45px;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .shellac_pedicure_item {
 	display: flex;
 	justify-content: flex-start;
 	width: 470px;
 	height: 180px;
 	box-shadow: 0px 0px 10px rgba(207, 207, 207, 0.25);
 	border-radius: 10px;
 	background-image: url(../img/nails_4.png), url(../img/usual_background_pedicure.png), linear-gradient(105.49deg, #EFEDFD 14.74%, #E3DFFF 105.75%);
 	background-repeat: no-repeat;
 	background-position: right 13px top 18px, center;
 	background-size: 143px 143px, auto;
 }

 .shellac_pedicure_text {
 	width: 270px;
 	height: 80px;
 	text-align: center;
 	padding-left: 40px;
 	margin-top: 47px;
 }

 .shellac_pedicure_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 24px;
 	line-height: 150%;
 	letter-spacing: 0.02em;
 	color: #000000;
 }

 .shellac_pedicure_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 26px;
 	line-height: 150%;
 	;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .shellac_pedicure_button {
 	width: 270px;
 	height: 60px;
 	margin-top: 25px;
 }





 .uf_pedicure {
 	min-width: 470px;
 	min-height: 265px;
 	margin-top: 45px;
 	display: flex;
 	align-items: center;
 	flex-direction: column;
 }

 .uf_pedicure_item {
 	display: flex;
 	align-items: center;
	justify-content: flex-start;
 	width: 470px;
 	height: 180px;
 	box-shadow: 0px 0px 10px rgba(207, 207, 207, 0.25);
 	border-radius: 10px;
 	background-image: url(../img/nails_6.png), url(../img/usual_background_pedicure.png), linear-gradient(103.89deg, #EFEDFD 2.52%, #E3DFFF 105.25%);
 	background-repeat: no-repeat;
 	background-position: right 13px top 18px, center;
 	background-size: 143px 143px, auto;

 }

 .uf_pedicure_text {
 	width: 270px;
 	height: 80px;
 	text-align: center;
 }

 .uf_pedicure_text h3 {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 24px;
 	line-height: 150%;
 	letter-spacing: 0.02em;
 	color: #000000;
 }

 .uf_pedicure_text p {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 26px;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .uf_pedicure_button {
 	width: 270px;
 	height: 60px;
 	margin-top: 25px;
 }

 /* КНОПАЧКА "ЗАПИСАТЬСЯ" */
 .button_price {
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 21px;
 	line-height: 29px;
 	text-align: center;
 	letter-spacing: 0.06em;
 	color: #8273F1;
 	width: 270px;
 	height: 60px;
	border: none;
	background: url(../img/stroke_button_price.svg),#FFFFFF;
	background-position: center;
	background-size: 98%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px #CEDAEB;
	border-radius: 110px;
	cursor: pointer;
 }
 .button_price:hover {
  background: url(../img/stroke_white_button_price.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(0px 0px 4px #7263E6);
  border: 2px solid #7063D2;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 40px;
	color: #FFFFFF;
 }
 .button_price:active {
  background: url(../img/stroke_white_button_price.svg),linear-gradient(92.21deg, #7E57F2 13.23%, #6645E1 82.09%);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
  border: 2px solid #6E63C1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(87, 152, 251, 0.9), 0px 0px 15px #BDCCE3;
  border-radius: 40px;
	filter: drop-shadow(0px 0px 4px #493BB7);
	color: #FFFFFF;
 }

 /* КНОПАЧКА "ЗАПИСАТЬСЯ":конец */

 /* коробка для формы .начало*/
 .box_for_subs {
 	width: 100%;
 	max-height: 794px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background: url(../img/bath_form.svg), url(../img/darkcloud_form.png), url(../img/clouds_form.png), url(../img/white.png);
 	background-size: 497px 405px, 462px 339px, 100%, 100% 440px;
 	background-position: top 25px right 112px, left 251px top 38px, bottom, top;
 	background-repeat: no-repeat;
 }

 .heading_subs_1 {
 	font-family: Vollkorn;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 58px;
 	line-height: 100%;
 	text-align: center;
 	color: #4D476F;
 	margin-top: 116px;
 	margin-bottom: 75px;
 }
.box_abonement h3 {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.01em;
color: #111111;
}
.box_abonement p {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.01em;
color: #111111;
}
 .box_for_form {
 	width: 971px;
 	height: 337px;
 	background-color: #FFFFFF;
 	box-shadow: 0px 0px 40px #DDE3E8;
 	border-radius: 10px;
 	filter: drop-shadow(0px 0px 40px #DDE3E8);

 }

 .box_form {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 justify-content: space-around;
 	width: 951px;
 	height: 317px;
 	border: 1px dashed #9584FE;
 	box-sizing: border-box;
 	border-radius: 10px;
 	margin: 10px;
 }
 input {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	text-indent: 30px;
	color: #111111;
 }
 .box_for_inputs {
	 display: flex;
	 gap: 30px;
	 justify-content: center;
	 padding-bottom: 31px;
 }
 .box_for_inputs input {
	width: 369px;
	height: 60px;
	border: 1px dashed #CEDAEB;
  box-sizing: border-box;
  border-radius: 6px;
 }
 .box_for_button_form2 {
	 padding: 32px 0 57px 0;
 }
 .button_form {
	width: 370px;
	height: 60px;
	background: linear-gradient(92.21deg, #8A64F9 13.23%, #8A64F9 13.24%, #7652F4 82.09%);
	border: 2px solid #7263E6;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(87, 152, 251, 0.9), 20px 10px 30px #CEDAEB;
	border-radius: 40px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.08em;
	color: #FFFFFF;
	cursor: pointer;
}
.button_form:active { 
	background: linear-gradient(92.21deg, #7E57F2 13.23%, #6645E1 82.09%) !important;
	box-shadow: 0px 0px 8px rgba(87, 152, 251, 0.9), 0px 0px 15px #BDCCE3 !important;
	border-radius: 40px !important;
	font-family: Open Sans;
  font-style: normal;
  font-weight: bold !important;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
	.button_form:hover {
		background: linear-gradient(92.21deg, #8A64F9 13.23%, #8A64F9 13.24%, #7652F4 82.09%);
		border: 2px solid #7263E6;
		box-sizing: border-box;
		box-shadow: 0px 0px 8px rgba(87, 152, 251, 0.9), 20px 10px 30px #CEDAEB;
		border-radius: 40px;
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 21px;
 	line-height: 29px;
 	text-align: center;
 	letter-spacing: 0.08em;
 	color: #FFFFFF;
 }
 ::placeholder {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	text-indent: 30px;
	color: #A4A4A4;
 }
 .heading_subs_2 {
 	font-family: Vollkorn;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 58px;
 	line-height: 100%;
 	text-align: center;
 	color: #4D476F;
 	margin-top: 120px;
 	margin-bottom: 40px;
 }

 /* коробка для формы .конец */

 /* мастера . начало */
 .box_for_masters {
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background: url(../img/polish_bg_for_masters.png), url(../img/brush_bg_for_masters.png);
 	background-position: top 336px right 178px, left 161px top -90px;
 	background-repeat: no-repeat;
 	background-size: 232px 232px, 366px 366px;
 }

 .masters1 {
 	max-width: 1230px;
 	max-height: 264px;
 	display: flex;
 	margin-bottom: 30px;
 	margin-top: 26px;
 }

 .master_kate {
 	width: 370px;
 	height: 204px;
 	background: url(../img/Kate.png), url(../img/Ellipse.png), url(../img/Rectangle.png), url(../img/white_bg_kate.png);
 	background-size: 86.5px 86.5px, 98.5px 98.5px, 358px 134px, 100%;
 	background-repeat: no-repeat;
 	background-position: left 141px top 11px, left 135px top 6px, left 5px bottom 6px, center;
 	margin-left: 30px;
 	filter: drop-shadow(0px 0px 30px #BFCBD2);
 	display: flex;
 	align-items: flex-end;
 }

 .box_for_kate {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 358px;
 	height: 134px;
 	margin: 5px;
 }

 .box_for_name {
 	text-align: center;
 }

 .master_jana {
 	display: flex;
 	align-items: flex-end;
 	width: 370px;
 	height: 204px;
 	background: url(../img/Jana.png), url(../img/Ellipse.png), url(../img/Rectangle.png), url(../img/white_bg_kate.png);
 	background-size: 86.5px 86.5px, 98.5px 98.5px, 358px 134px, 100%;
 	background-repeat: no-repeat;
 	background-position: left 141px top 11px, left 135px top 6px, left 5px bottom 6px, center;
 	background-repeat: no-repeat;
 	margin: 0 30px;
 	filter: drop-shadow(0px 0px 30px #BFCBD2);
 }

 .box_for_jana {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 358px;
 	height: 134px;
 	margin: 5px;
 }

 .master_tatiana {
 	display: flex;
 	align-items: flex-end;
 	width: 370px;
 	height: 204px;
 	background: url(../img/Tatiana.png), url(../img/Ellipse.png), url(../img/Rectangle.png), url(../img/white_bg_kate.png);
 	background-size: 86.5px 86.5px, 98.5px 98.5px, 358px 134px, 100%;
 	background-repeat: no-repeat;
 	background-position: left 141px top 11px, left 135px top 6px, left 5px bottom 6px, center;
 	background-repeat: no-repeat;
 	margin-right: 30px;
 	filter: drop-shadow(0px 0px 30px #BFCBD2);
 }

 .box_for_tatiana {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 358px;
 	height: 134px;
 	margin: 5px;
 }

 .masters2 {
 	max-width: 1230px;
 	max-height: 264px;
 	display: flex;
 	margin-top: 30px;
 	margin-bottom: 100px;
 }

 .master_elena1 {
 	display: flex;
 	align-items: flex-end;
 	width: 370px;
 	height: 204px;
 	background: url(../img/Elena1.png), url(../img/Ellipse.png), url(../img/Rectangle.png), url(../img/white_bg_kate.png);
 	background-size: 86.5px 86.5px, 98.5px 98.5px, 358px 134px, 100%;
 	background-repeat: no-repeat;
 	background-position: left 141px top 11px, left 135px top 6px, left 5px bottom 6px, center;
 	background-repeat: no-repeat;
 	margin-left: 30px;
 	filter: drop-shadow(0px 0px 30px #BFCBD2);
 }

 .box_for_elena1 {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 358px;
 	height: 134px;
 	margin: 5px;
 }

 .master_julia {
 	display: flex;
 	align-items: flex-end;
 	width: 370px;
 	height: 204px;
 	background: url(../img/Julia.png), url(../img/Ellipse.png), url(../img/Rectangle.png), url(../img/white_bg_kate.png);
 	background-size: 86.5px 86.5px, 98.5px 98.5px, 358px 134px, 100%;
 	background-repeat: no-repeat;
 	background-position: left 141px top 11px, left 135px top 6px, left 5px bottom 6px, center;
 	background-repeat: no-repeat;
 	margin: 0 30px;
 	filter: drop-shadow(0px 0px 30px #BFCBD2);
 }

 .box_for_julia {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 358px;
 	height: 134px;
 	margin: 5px;
 }

 .master_elena2 {
 	display: flex;
 	align-items: flex-end;
 	width: 370px;
 	height: 204px;
 	background: url(../img/Elena2.png), url(../img/Ellipse.png), url(../img/Rectangle.png), url(../img/white_bg_kate.png);
 	background-size: 86.5px 86.5px, 98.5px 98.5px, 358px 134px, 100%;
 	background-repeat: no-repeat;
 	background-position: left 141px top 11px, left 135px top 6px, left 5px bottom 6px, center;
 	background-repeat: no-repeat;
 	margin-right: 30px;
 	filter: drop-shadow(0px 0px 30px #BFCBD2);
 }

 .box_for_elena2 {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 358px;
 	height: 134px;
 	margin: 5px;
 }

 .name {
 	font-size: 31px;
 	font-family: Open Sans;
 	font-style: italic;
 	font-weight: normal;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 .professional {
 	font-family: Open Sans;
 	font-style: italic;
 	font-weight: normal;
 	font-size: 21px;
 	line-height: 150%;
 	letter-spacing: 0.01em;
 	color: #000000;
 }

 /* мастера . конец */

/* Примеры работ . начало */
 .box_for_examples {
  display: flex;
	flex-direction: row;
	justify-content: center;
	background: url(../img/clouds_for_exaples.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
 }
 .box_main_examples {
	 display: flex;
	 flex-direction: column;
	 width: 1000px;
	 /* margin-left: 445px; */
 }
 .header_exaples {
	font-family: Vollkorn;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	line-height: 100%;
	color: #4D476F;
	text-align: center;
 }
 .box_for_buttons {
	margin-bottom: 51px;
	margin-top: 23px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 }
 .button_shell {
	width: 217px;
	height: 50px;
	background: url(../img/stroke_for_button_exaples.png),#FFFFFF;
	background-size: 207px 40px,auto;
	background-position:center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px #CEDAEB;
	border-radius: 6px;
	font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #111111;
	cursor: pointer;
	border: none;
 }
 .button_shell:hover {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px #CEDAEB;
  border: 1px dashed #9584FE;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 4px #6755E3);
  border-radius: 6px;
	font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #8273F1;
 }
 /* .box_for_examples .box_left_exaples .button_shell:active - чтобы увеличить вес стилей. */
 .button_shell:active {
	background: url(../img/stroke_for_button_exaples.png),#FFFFFF;
	background-size: 207px 40px,auto;
	background-position:center;
	background-repeat: no-repeat;
  box-shadow: 0px 0px 8px #8CB6F5;
  border-radius: 6px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #111111;
 }
 /* .box_for_examples .box_main_exaples .box_for_buttons .button_shell--push {
	background: url(../img/stroke_for_button_exaples.png),#FFFFFF;
	background-size: 207px 40px,auto;
	background-position:center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 4px #386FC1;
	border-radius: 6px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #111111;
} */
 .box_for_workphoto {
	height: 455px;
	margin-bottom: 77px;
	background: url(../img/circle1_workphoto.png),url(../img/circle2_workphoto.png),url(../img/circle3_workphoto.png),url(../img/workphoto-clouds.png);
	background-position: left 27px bottom 116px,left 329px bottom 35px,right 27px bottom 116px,bottom;
	background-size: 216px 216px,371px 372px,216px 216px,contain;
	background-repeat: no-repeat;
 }
 .box_left_examples {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 265px;
 }
 .button_left_examples {
	width: 70px;
	height: 70px;
	margin-right: 5px;
	cursor: pointer;
	background: url(../img/arrow_fiolet.svg),url(../img/stroke_fiolet.svg),#FFFFFF;
	background-position: center;
	background-size: auto,100%,contain;
	background-repeat: no-repeat;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 50%;
  transform: rotate(180deg);
 }
 .box_right_examples {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 265px;
 }
 .button_right_examples {
  width: 70px;
	height: 70px;
	margin-left: 5px;
	cursor: pointer;
	background:url(../img/arrow_fiolet.svg),url(../img/stroke_fiolet.svg), #FFFFFF;
	background-position: center;
	background-size: auto,100%,contain;
	background-repeat: no-repeat;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 40px;
 }
 .button_left_examples:hover {
	background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 40px;
	/* transition: all 1s; */
 }
 .button_left_examples:active {
	background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
  box-shadow: 0px 0px 8px #060324,0px 0px 4px #657389, inset 0px 4px 24px #584CCA;
	filter: drop-shadow(0px 0px 4px #5786FB);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  border-radius: 40px;
 }
 .button_right_examples:hover {
	background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 40px;
 }
 .button_right_examples:active {
	background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
  box-shadow: 0px 0px 8px #060324,0px 0px 4px #657389, inset 0px 4px 24px #584CCA;
	filter: drop-shadow(0px 0px 4px #5786FB);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  border-radius: 40px;
 }
 /* Примеры работ . конец */

 /* Отзывы клиентов . начало */
 .box_for_reviews {
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 background: #ffffff;
 }
 .box_center_reviews {
	 width: 1000px;
	 display: flex;
	 flex-direction: column;
	 background: url(../img/mail_bg_header_review.png);
	 background-size: 172px 111px;
	 background-position: left 90px top 17px;
	 background-repeat: no-repeat;
	 margin-bottom: 85px;
 }
 .header_reviews {
	font-family: Vollkorn;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	line-height: 100%;
	margin-top: 63px;
	text-align: center;
	color: #4D476F;
 }
 .review {
	 display: flex;
	 justify-content: flex-start;
	 align-items: flex-end;
	 height: 205px;
	 background:url(../img/review_photo.png),url(../img/review_bg.png);
	 background-repeat: no-repeat;
	 background-size: 152px 155px,769px 265px;
	 background-position:left 40px top,right top -30px;
	 margin-top: 58px;
 }
 .text_name_review {
	max-width: 180px;
	height: 33px;
	font-family: Open Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 21px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #000000;
	margin-left: 30px;
 }
 .box_left_reviews {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
 }
 .button_left_reviews {
  width: 70px;
	height: 70px;
	margin-right: 5px;
	margin-bottom: 177px;
	cursor: pointer;
	background: url(../img/arrow_fiolet.svg),url(../img/stroke_fiolet.svg),#FFFFFF;
	background-position: center;
	background-size: auto,100%,contain;
	background-repeat: no-repeat;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 50%;
  transform: rotate(180deg);
 }
 .button_left_reviews:hover {
  background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 40px;
 }
 .button_left_reviews:active {
	background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
  box-shadow: 0px 0px 8px #060324,0px 0px 4px #657389, inset 0px 4px 24px #584CCA;
	filter: drop-shadow(0px 0px 4px #5786FB);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  border-radius: 40px;
 }

 .box_right_reviews {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
 }
 .button_right_reviews {
  width: 70px;
	height: 70px;
	margin-left: 5px;
	margin-bottom: 177px;
	cursor: pointer;
	background: url(../img/arrow_fiolet.svg),url(../img/stroke_fiolet.svg),#FFFFFF;
	background-position: center;
	background-size: auto,100%,contain;
	background-repeat: no-repeat;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 50%;
 }
 .button_right_reviews:hover {
	background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  box-shadow: 0px 0px 8px #CEDAEB;
  border-radius: 40px;
 }
 .button_right_reviews:active {
  background: url(../img/arrow_white.svg),url(../img/stroke_white.svg),linear-gradient(92.21deg, #9484FD 13.23%, #7263E6 82.09%);
  box-shadow: 0px 0px 8px #060324,0px 0px 4px #657389, inset 0px 4px 24px #584CCA;
	filter: drop-shadow(0px 0px 4px #5786FB);
	background-size: auto,100%;
	background-repeat: no-repeat;
	background-position: center;
  border-radius: 40px;
 }
 /* Отзывы клиентов . конец */

 /* Форма футера . начало */
 .box_form_footer {
	 width: 100%;
	 min-height: 734px;
	 display: flex;
	 justify-content: center;
	 background: url(../img/clouds_form_footer.png),url(../img/white.png);
	 background-size: contain,100% 70%;
	 background-position: bottom,top;
	 background-repeat: no-repeat;
 }
.box_center {
	width: 1170px;
	min-height: 734px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form_footer {
  width: 100%;
	min-height: 468px;
	background: #FFFFFF;
  box-shadow: 0px 0px 40px #DDE3E8;
  border-radius: 10px;
}
.main_form {
	min-width: 1150px;
	min-height: 448px;
	border: 1px dashed #9584FE;
  box-sizing: border-box;
  border-radius: 6px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.box_abonement2 {
  padding: 34px 0 30px 0;
}
.box_abonement2 h3 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #111111;
	}
	.box_abonement2 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #111111;
	}
.box_for_textarea {
	margin: 0 95px;
	max-width: 970px;
}
textarea {
	width: 100%;
	border: 1px dashed #CEDAEB;
  box-sizing: border-box;
  border-radius: 6px;
	font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 360%;
  letter-spacing: 0.01em;
  text-indent: 30px;
  color: #111111;
	resize: vertical;
	padding: 30px 0 0 0;
}
textarea:hover {
	border: 1px dashed #8E7DF8;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 360%;
  letter-spacing: 0.01em;
  text-indent: 30px;
	color: #111111;
}
.box_for_footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.box_logo_footer {
	width: 970px;
	margin-top: 140px;
}
.box_for_adress {
  width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
.box_for_map {
	width: 970px;
	height: 276px;
}
.box_adress {
	width: 270px;
	display: flex;
	flex-direction: column;
}
.box_adress p {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.01em;
color: #111111;
}
.contacts {
	margin-left: 108px;
	width: 270px;
}
.socnetwork {
	width: 270px;
	margin-left: 58px;
}
.box_for_geoicon {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.box_for_geoicon p{
  font-family: Open Sans;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.01em;
color: #111111;
}
.box_for_tel a {
margin-bottom: 10px;
text-decoration: none;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 159.6%;
letter-spacing: 0.01em;
color: #111111;
}
.box_for_mail a {
text-decoration: none;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 159.6%;
letter-spacing: 0.01em;
color: #111111;
}
.box_text_socnetwork {
	margin-bottom: 10px;
}
.box_text_socnetwork p {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.01em;
color: #111111;
}
.icon_socnetwork {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.box_for_footermap {
	display: flex;
	justify-content: center;
	padding-bottom: 42px;
}
.map {
	max-width: 970px;
	filter: drop-shadow(0px 0px 10px rgba(207, 207, 207, 0.25));
  border-radius: 4px;
}
#geo {
	margin-right: 10px;
}
#phone_footer {
	margin-right: 10px;
}
#mail_footer {
	margin-right: 10px;
}

#input_name:hover,
#input_name:focus {
	filter: drop-shadow(0px 0px 4px #6755E3);
	border: 1px dashed #9584FE;
}
#input_name2 {
	width: 270px;
	height: 60px;
}
#input_name2:hover,
#input_name2:focus {
	filter: drop-shadow(0px 0px 4px #6755E3);
	border: 1px dashed #9584FE;
}
#input_tel:hover,
#input_tel:focus {
	border: 1px dashed #9584FE;
  filter: drop-shadow(0px 0px 4px #6755E3);
}
#input_tel2 {
	width: 270px;
	height: 60px;
}
#input_tel2:hover,
#input_tel2:focus {
	border: 1px dashed #9584FE;
  filter: drop-shadow(0px 0px 4px #6755E3);
}
#input_mail:hover,
#input_mail:focus {
	border: 1px dashed #9584FE;
  filter: drop-shadow(0px 0px 4px #6755E3);
}
 /* Форма футера . конец */